.chat {
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background: hsla(0, 89%, 4%, 0.46);
  margin-bottom: 30px;

  .chat_top {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background: hsla(0, 0%, 0%, 0.631);
    padding: 20px;
    margin: 10px;
    gap: 10px;
    color: white;
    border-radius: 10px;
    position: fixed;
    width: 90%;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .chat_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .chat_container {
    min-height: 100vh;

    .data {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }

    .chat_pic {
      width: 50%;
      object-fit: cover;
      border-radius: 10px;

    }

    .chat_ava {
      width: 50px;
      height: 50px;
      border-radius: 50%;

    }

    .chat_text {

      padding: 10px;
      color: white;
      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    .left {
      padding: 10px;
      width: 60%;
      margin-left: 40%;
      /* margin-top: 5px; */
      border-radius: 10px;

      .p {
        background-color: blue;
        padding: 10px;
        border-radius: 10px;

        .chat_icon {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;

          span {
            color: hsla(0, 0%, 100%, 0.756);
            font-style: italic;
          }
        }
      }
    }

    .right {
      padding: 10px;
      width: 60%;
      margin: 10px;
      border-radius: 10px;

      .p {
        background-color: green;
        padding: 10px;
        border-radius: 10px;

        .chat_icon {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;

          span {
            color: hsla(0, 0%, 100%, 0.756);
            font-style: italic;
          }
        }
      }
    }
  }

  .content {
    background-color: white;
  }

  .chat_input {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: hsla(0, 2%, 12%, 0.456);

    input {
      width: 80%;
      padding: 10px 20px;
      border-radius: 10px;
      outline: none;
      border: none;
    }

    button {
      width: 20%;
      background-color: red;
      border: none;
      color: white;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
    }
  }
}


.chat_day {
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}


@media (max-width: 500px) {
  .chat {
    .chat_container {
      width: 100%;

      .right {
        width: 90%;

      }

      .left {
        width: 90%;
        margin-left: 10%;
      }

      .chat_pic {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}